<%- include('partials/head')%>
<body>
    <h3>Welcome <%= user.name%></h3>
    <div>
        <img src="" alt="logo">
    </div>
    <div>
        <!-- This nav section is there the options are -->
        <nav>
            <div><title>Main Cage</title></div>
            <div><button onclick="addButton(this)" id="logins-btn">Logins</button></div>
            <div><button id="accounts-btn">Accounts</button></div>
            <div><button id="notes-btn">Notes</button></div>
            <div><button id="news-btn">News</button></div>
            <div><button id="gen-pass-btn">Generate Password</button></div>
        </nav>
        <hr>
        <!-- This div renders the selected option above -->
        <div id="sub-menu">
            
        </div>
        <!-- This div renders the final results of the selected option above -->
        <div id="display">
    
        </div>
    </div>
</body>
<script src="/javascripts/script.js"></script>
</html>