<%- include('partials/head')%>
<body class="p-3 mb-2 bg-light text-dark">
    <div id="header">
        <h3 style="text-align: center;">Welcome <%= user.name%></h3>
        <img id="logo-dash" src="/images/invert.png" alt="logo">
    </div>
    <div id="container" class="container-fluid row align-items-center">
        <!-- This nav section is there the options are -->
        <nav id="menu" class="col align-self-start">
            <button class="shadow-lg p-3 mb-5 bg-body rounded" onclick="addButton(this)" id="logins">Logins</button>
            <button class="shadow-lg p-3 mb-5 bg-body rounded" onclick="addButton(this)" id="accounts">Accounts</button>
            <button class="shadow-lg p-3 mb-5 bg-body rounded" onclick="addButton(this)" id="notes">Notes</button>
            <button class="shadow-lg p-3 mb-5 bg-body rounded" id="news-btn">News</button>
            <button class="shadow-lg p-3 mb-5 bg-body rounded" id="gen-pass-btn">Generate Password</button>
        </nav>
        <!-- This div renders the selected option above -->
        <div id="sub-menu" class="col align-self-start container-fluid row align-items-center">
        </div>
        <!-- This div renders the final results of the selected option above -->
        <div id="display" class="col align-self-start container-fluid align-items-center">
        </div>
    </div>
</body>
<script difer src="/javascripts/script.js"></script>
</html>