<%- include('partials/head')%>
  <body>
    <div>
      <div class="row">
        <div class="col"><img src="" alt="Logo"></div>
        <div class="col">
          <% if (user){ %>
            <a href="http://">Log out</a>
          <% } else{ %>
            <a href="/auth/google" rel="noopener noreferrer">Sign in</a>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <section>
            This is where my text about the product goes explaining all about its functionalities
          </section>
        </div>
        <div class="col">
          <img src="" alt="">
        </div>
      </div>
      <div class="row mdc-image-list__supporting">
          <img class="col mdc-image-list__image" src="/images/azure.png" alt="azure-logo">
          <img class="col mdc-image-list__image" src="/images/facebook.png" alt="facebook-logo">
          <img class="col mdc-image-list__image" src="/images/slack.png" alt="slack-logo">
          <img class="col mdc-image-list__image" src="/images/cisco.png" alt="cisco-logo">
        <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
    </div>
  </body>
</html>
