<%- include('partials/head')%>
  <body class="p-3 mb-2 bg-light text-dark">
        <div><img id="logo" class="img-fluid rounded mx-auto d-block" src="/images/invert.png" alt="Logo"></div>
        <div id="logBtn" class="col">
          <% if (user){ %>
            <a href="/dashboard">Dashboard</a>
            <a href="/">Log out</a>
          <% } else{ %>
            <a href="/auth/google" rel="noopener noreferrer">Sign in</a>
          <% } %>
      </div>
      <div >
        <div id="welcome">
          <h2>
            Faraday Password Manager
          </h2>
          <h4>The first password manager based on plain-text cryptography!</h4>
        </div>
        <div id="central-img"> 
          <img src="/images/Password-Manager-Header.png" alt="">
        </div>
        
      </div>
      <div id="container-img" class="container row">
          <img class="rounded" style="width: auto; height: 50px;" src="/images/azure.png" alt="azure-logo">
          <img class="rounded" style="width: auto; height: 50px;" src="/images/facebook.png" alt="facebook-logo">
          <img class="rounded" style="width: auto; height: 50px;" src="/images/slack.png" alt="slack-logo">
          <img class="rounded" style="width: auto; height: 50px;" src="/images/cisco.png" alt="cisco-logo">
        <div id="disclosure">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
  </body>
</html>
