body {
  height: 100vh;
  margin: 20px auto;
}

#logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#logo-dash {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#header {
  margin-bottom: 150px;
}

#logBtn{
  text-align: center;
}

#welcome {
  text-align: center;
}

#container {
  height: 50vh;
  display: flex;
  flex-direction: row;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100%;
  margin: 0px;
}

button {
  width: 180px;
  height: auto;
}

#container-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

#central-img {
  margin: auto 0px;
  text-align: center;
}

#disclosure {
  text-align: center;
}
